{% if user_authenticated %}
    <a href="new">Crear Artículo</a>
    <a href="logout">Desconectarse</a>
{% else %}
    <a href="login">Ingresar</a>
{% endif %}

<ul>
    {% for post in posts %}
    <li>
        <a href="details/?post_id={{ post.id }}">
            [{{ post.category }}] 
            {{ post.title }} 
            (por {{ post.author }}, 
            publicado el {{ post.publish_date }},
            tags:
            {% for tag in post.tags %}
                {{ tag }}, 
            {% endfor %} 
            )
        </a>
    </li>
    {% endfor %}
</ul>